{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
     <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>Schoolstore</title>



    <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <!-- progress barstle -->
        <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">
    <!-- fonts style -->
        <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font wesome stylesheet -->
        <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' %}">
    <!-- Custom styles for this template -->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
        <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />




        <link rel="stylesheet" href="{% static 'css/css-circular-prog-bar.css' %}">

</head>
<body>
    <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <div class="hero-container container">
        <div class="hero_detail-box">
          <h3>
            Welcome to <br>
          </h3>
          <h1>
            School Store
          </h1>
          <p>
            Going to school???
            You have come to the right Place!!
            This is the place where you can get all Accessories for School.
          </p>
          <div class="hero_btn-continer">
            <a href="new" class="call_to-btn btn_white-border">
              <span>
                Click Here
              </span>
              <img src="{% static 'images/right-arrow.png' %}" alt="">
            </a>
          </div>
        </div>
        <div class="hero_img-container">
          <div>
            <img src="{% static 'images/hero.png' %}" alt="" class="img-fluid">
          </div>
        </div>
        </div>
      </div>
    </header>
    </div>
</body>
</html>